<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title><?title?></title>
   <link rel="stylesheet" href="/static/css/todos.css">
   <script src="/static/js/angular.js"></script>

</head>
<body ng-app="TODO">
    <div id="todoapp">
       <header ng-controller="InputCtrl">
         <h1>Todos</h1>
         <input id="new-todo" type="text" placeholder="What needs to be done?" ng-keydown="onKeydown($event)">
       </header>
       <section id="main" ng-controller="TodoListCtrl">
         <input id="toggle-all" type="checkbox" ng-click="onToggle($event)" ng-checked="toggleALl">
         <label for="toggle-all">Mark all as complete</label>
         <ul id="todo-list">
            <li ng-class="{done: one.done == 1}" ng-dblclick="onEdit($event)" ng-repeat="one in list">
             <div class="view">
               <input ng-click="onOneDone($event, one.id, $index)" class="toggle" type="checkbox" ng-checked="one.done">
               <label>{{one.text}}</label>
               <a class="destroy" ng-click="del($event, one.id, $index)"></a>
             </div>
             <input class="edit" type="text" value="{{one.text}}" ng-keydown="onSubmitEdit($event, one.id, $index)" ng-blur="onBlurEdit($event)">
            </li>
         </ul>
       </section>

       <footer style="display: none;">
         <a id="clear-completed">Clear completed</a>
         <div id="todo-count"></div>
       </footer>

    </div>

    <div id="instructions">
    Double-click to edit a todo. <a href="https://github.com/cos2004/mean_todo" target="_blank">view source</a>
    </div>
   
    <script src="/static/js/app.js"></script>
</body>
</html>